<nav class="navbar navbar-expand-lg px-md-5 px-0 py-0" style="background-color: #F4F3F3;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/parametric-transformer.png" alt="logo" style="width: 40px; "/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fw-semibold" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold" href="/blog">Blog</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button class="buttonstyling btn  text-white px-4 py-1 mb-md-0 mb-3  rounded-pill" style="background-color: #857ba1;" >
            <a href="/contact" class="text-white" style="text-decoration: none;">
            Contact
          </a>
            </button>
        </form>
      </div>
    </div>
</nav>