
<%- include('partials/header') %>
<%- include('partials/navbar') %>

    <form method="POST" action="blog">
      <div class="container my-5 p-md-5 " >
        <div class="p-4 p-md-5 rounded" style="background-color: #F4F3F3;">
          <h1 class="text-center mb-3">Add blog</h1>
          <!-- Name -->
          <div class="mb-3">
            <label class="form-label">Blog Name</label>
            <input name="title" class="form-control" placeholder="blog name" >
          </div>
          <!-- Date -->
          <div class="mb-3 d-grid ">
            <label class="form-label">Date</label>
            <div class="d-flex gap-0 gap-md-3">
              <input  class="form-control" name="startDate" type="date" style=" 
              padding: 12px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              margin-top: 6px;
              margin-bottom: 16px;
              ">
              <input  class="form-control" name="endDate" type="date" style=" 
              padding: 12px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              margin-top: 6px;
              margin-bottom: 16px;
               ">
            </div>
            </div>
          <!-- Technologies -->
          <div class=" ">
            <label for="content">Technologies:</label>
              <div class="checkbox">
                <label class="label-checkbox fs-2"
                  > <i class="fa-brands fa-node-js"></i>
                  <input
                    type="checkbox"
                    class="input-technologies"
                    value="NodeJs"
                    style=" margin: 30px 0 30px 0;"
                    name="technologies"
                  />
                  <span class="checkmark"></span>
                </label>
                <label class="label-checkbox fs-2"
                  ><i class="fa-brands fa-react"></i>
                  <input
                    type="checkbox"
                    class="input-technologies"
                    value="ReactJs"
                    name="technologies"
                  />
                  <span class="checkmark "></span>
                </label>
                <label class="label-checkbox fs-2"
                  ><i class="fa-brands fa-golang"></i>
                  <input type="checkbox" class="input-technologies" value="Go" name="technologies" style=" margin: 30px 0 30px 0;" />
                  
                </label>
              </div>
          </div>
          <!-- content -->
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" rows="3" name="content"></textarea>
          </div>
          <!-- Image -->
          <!-- <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile">
          </div> -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>

 
<%- include('partials/footer') %>