<%- include('partials/header') %>
  <main>
    <div class="container bg-secondary">
        <div class="container p-4 bg-light my-5 rounded shadow">
        <div class="text-center">
            <h2>REGISTER</h2>
        </div>
            <form method="post" action="/register">
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" placeholder="Name here...">
                </div>
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" placeholder="Email here...">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password"placeholder="Password here...">
                </div>
                <div class="mb-3 form-check">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" id="showPasswordButton" class="btn btn-primary">Show Password</button>
            </form>
            <a href="/">
                <button type="submit" class="btn btn-danger">Cancel</button>
            </a>
        </div>
    </div>
  </main>

  <script>
    const showPasswordButton = document.getElementById('showPasswordButton');
    const passwordInput = document.getElementById('password');

    showPasswordButton.addEventListener('click', () => {
      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
      } else {
        passwordInput.type = 'password';
      }
    });
  </script>
<%- include('partials/footer') %>
